<%- include('header') -%>
<link rel="stylesheet" href="/css/home-header.css">
<link rel="stylesheet" href="/css/category.css">
<%- include('nav') -%>
<!-- header   -->
<section id="home-header">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
    <div class="carousel-inner">
<!--end header-->
<!-- about us   -->
      <div class="carousel-item active">
      <div class="onimg">
      <img class="imagee" src="/image/about.png" class="d-block w-100" alt="...">
      <div class="poni">
        <h1 class="display-3">About US!</h1>
        <div>
          <p>This is a template for a simple marketing or informational website.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:rgba(45,51,83,0.9);">Learn more &raquo;</a></p>
        </div>
      </div>
      </div>
      </div>
<!-- contact us   -->
      <div class="carousel-item">
      <div class="onimg">
      <img class="imagee"  src="image/contact us.png" class="d-block w-100" alt="...">
      <div class="poni">
        <h1 class="display-3">contact US!</h1>
      </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--DOWN ArroW-->

<div class="downarrow">
<h2>Shop by Category</h2>
<i class="icon fas fa-chevron-circle-down fa-7x"></i>
</div>

<!-- catigory body  -->
<section id="category">
<div class="container">
     <div class="row">
       <% Categories.forEach(function(category){ %>
       <!-- catigory card  -->
         <div class="card  col-ld-4" style="width: 18rem;">
           <img src="<%= category.img %>" class="cateimage">
           <div class="body-card ">
             <h2><%= category.name %></h2>
             <p><%= category.description %></p>
             <p><a class="btn btn-secondary" href="#" role="button"  style="background-color:rgba(45,51,83,0.8);">View details &raquo;</a></p>
           </div>
         </div>
         <%  }) %>
       <!--end of card-->
     </div><!--row-->
</div>
</section>
<!--UP ArroW-->
<div class="uparrow">
<i class="icon fas fa-arrow-circle-up fa-3x"></i>
</div>


<%- include('footer')  -%>
